# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Plain text to Jasmine'
      'command': 'plain-2-jasmine:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Plain text to Jasmine'
      'command': 'plain-2-jasmine:toggle'
    ]
  }
]
